*::-webkit-scrollbar {
  width: 10px;
}

.chakra-card__body::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--chakra-colors-scrollbar-background);
}

*::-webkit-scrollbar-thumb {
  background: var(--chakra-colors-primary);
  border-radius: 6px;
  transition: 0.2s;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--chakra-colors-primary-hover);
}

*::-webkit-scrollbar-thumb:active {
  background: var(--chakra-colors-secondary-background);
}

#tsparticles canvas {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
}

@keyframes hey {
  0% {
    rotate: 0deg;
  }

  50% {
    rotate: 60deg;
  }

  100% {
    rotate: 0deg;
  }
}

@keyframes appearWithScroll {
  from {
    opacity: 0;
    transform: translateY(-22vh);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-3vh);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightWithScroll {
  from {
    opacity: 0;
    transform: translateX(-50vw);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.appear-with-scroll-animation {
  animation: appearWithScroll linear;
  animation-timeline: view();
  animation-range: cover 0% cover 50%;
}

.appear-animation {
  animation: appear 1s;
}

.slide-right-with-scroll-animation {
  animation: slideRightWithScroll linear;
  animation-timeline: view();
  animation-range: cover 0% cover 13%;
}

@media (min-width: 768px) {
  .slide-right-with-scroll-animation {
    animation: slideRightWithScroll linear;
    animation-timeline: view();
    animation-range: cover 0% cover 25%;
  }
}
