*::-webkit-scrollbar {
  width: 10px;
}

.chakra-card__body::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--chakra-colors-scrollbar-background);
}

*::-webkit-scrollbar-thumb {
  background: var(--chakra-colors-primary);
  border-radius: 6px;
  transition: 0.2s;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--chakra-colors-primary-hover);
}

*::-webkit-scrollbar-thumb:active {
  background: var(--chakra-colors-secondary-background);
}

#tsparticles canvas {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
}

@keyframes hey {
  0% {
    rotate: 0deg;
  }

  50% {
    rotate: 60deg;
  }

  100% {
    rotate: 0deg;
  }
}
